.close{
    font-size:40px;
    float:right;
}
.circle{
    font-size: 30px;
    margin-top:30px;
   

}
.next{
    margin-left: 150px;
    color:black;
    font-size: 20px;
   margin-bottom:100px;
   background:purple;
   height: 50px;
   width:100px;
}