.header{
    height:150px; 
   background:purple;
 text-align: left;
 color:white;
 font-family: 'Times New Roman', Times, serif;
}
.my{
    margin-left: 10px;
    margin-top: 70px;
    font-family: 'Times New Roman', Times, serif;
}
ion-title{
    margin-top:60px;
}
.more{
    font-size: 30px;
    float:right;
    margin-bottom:10px;
}
.circle{
    float:right;
    font-size:50px;
    margin-right:30px;
    margin-bottom:50px;
}
.next{
  
    color:black;
   background:purple;
}
.add1{
    zoom:3.0;
    float: right;
    margin-top:80px;
    
}