<ion-header class="header">
  <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-icon name="more" (click)="mor()" class="more"></ion-icon>
    <ion-title>
      My Day<br>
      {{today | date:'fullDate'}}
   </ion-title> 


</ion-header>

<ion-content padding>
  <h1>Sort</h1>
  <hr>
  <ion-icon  name="swap" class="iconn"></ion-icon>
  <h3 class="add" >Alphabetically</h3>
  <ion-icon name="star-outline" class="iconn1"></ion-icon>
  <h1 class="add" (click)="importance()">Importance</h1>
  <ion-icon name="add" class="iconn1"></ion-icon>
  <h1 class="add" (click)="CreateTask()">Creation Data</h1>
  <ion-icon name="checkbox" class="iconn1"></ion-icon>
  <h1 class="add" (click)="completedTask()">Completed</h1>

</ion-content>

