.header{
    height:150px; 
   background:purple;
 text-align: left;
 color:white;
 font-family: 'Times New Roman', Times, serif;
}
.my{
    margin-left: 10px;
    margin-top: 70px;
    font-family: 'Times New Roman', Times, serif;
}
ion-title{
    margin-top:60px;
}
.more{
    font-size: 30px;
    margin-bottom:10px;
    float:right;
}
.iconn
{
    float:left;margin-left: 20px;font-size: 30px;
}
.add{
    margin-left: 70px;
}
.iconn1
{
    float:left;margin-left: 20px;font-size: 30px;}