<ion-header style="background-color:purple;height:80px;">
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title  style="margin-left:100px;font-size:30px;">Reminders</ion-title>
  
</ion-header>

<ion-content padding>
    <ion-title><b>Title:</b></ion-title>
    <ion-input class="input1"  type="text" #title></ion-input>
    <ion-title><b >Remind me on Date</b></ion-title>
    <ion-input class="input2" type="date" #date></ion-input>
    <ion-title><b >Remind me on Time</b></ion-title>
    <ion-input class="input2" type="time"  #time></ion-input>
    <ion-icon style="font-size:40px;margin-left:40px;" name="time" ></ion-icon>
    <ion-title><b >Remind me on location</b>
      <ion-toggle color="secondary" class="toogle"></ion-toggle>
    </ion-title>
  
    <ion-button   color="default" (click)="set(title,date,time)" class="button1"   ><b style="font-size:20px;" >Set Reminder</b></ion-button>

</ion-content>
