.iconn
{
    float:left;margin-top: 20px;margin-left: 20px;font-size: 30px;
    color:purple;
}
.add{
    margin-left: 70px;color:black;
}
.iconn1
{
    float:left;margin-top: 10px;margin-left: 20px;font-size: 30px;
    color:purple;}