.header{
    height:80px; 
   background:purple;
 text-align: left;
 color:white;
 font-family: 'Times New Roman', Times, serif;

}
.iconn
{
    float:left;margin-top: 20px;margin-left: 10px;font-size: 30px;
}
.add{
    margin-left: 70px;
}
.input{
    font-size:20px;
  
    height:50px;
    width: 250px;
    margin-bottom:5px;
    padding-left: 15px;
    border: 1px solid black;
}
.name{
    font-size:20px;
 
    height:50px;
    width:250px;
    margin-bottom: 5px;
    padding-left: 15px;
    border: 1px solid black; 
}
.password{
    font-size:20px;

    height:50px;
    width: 250px;
    margin-bottom:10px;
    border: 1px solid black;
    padding-left: 15px;

}

.button1{
    border: 1px solid #ddd; 
    height:50px;
    width:1050px;
    color:black;
    margin-left:5px;
    

}
.icon1{
    float:left;
    margin-left: 80px;
    font-size: 30px;
}

   .gender{
    border: 1px solid black;
    height:63px;
    margin-top:40px;
    font-size: 20px;
  /*   margin-right: 250px;

    padding-top: 10px;
    padding-left: 15px; */
  } 
  .footer{
    height:130px; 
    background:purple;
  text-align: left;
  color:white;
  font-family: 'Times New Roman', Times, serif;
     
     }
     .next{
         margin-left: 150px;
         color:black;
         font-size: 20px;
        margin-top:20px;
        margin-bottom:20px;
        background: white;
        height: 50px;
        width:100px;
     }
     .next1{
        color:black;
        font-size: 10px;
       margin-top:20px;
       margin-bottom:20px;
       background: white;
       height: 50px;
       width:50px;
    }
     .icon1{
        float:right;
        font-size: 50px;
        color: black;
        margin-right:30px;
    }