<ion-header class="header">
   
      <ion-icon name="arrow-back" (click)="arrow()" class="iconn"></ion-icon>
  <h1 class="add">Add Account</h1>
</ion-header>

<ion-content  padding>
    <label class="item item-input" >
        <input  type="number" class="input" minlength="10" maxlength="10" #cno placeholder="Enter contact" required="">
      </label><br>
    <label class="item item-input" >
        <input  type="text" class="name" #name placeholder="Enter Name" required="">
      </label><br>
      <label class="item item-input" >
          <input  type="Password" class="password" minlength="8" maxlength="8"#pass placeholder="Password" required="" >
        </label><br>
       <!--  <ion-row>
        <ion-item class="gender" #gender>
            <ion-label >Gender</ion-label>
            <ion-select  >
              <ion-select-option value="f">Female</ion-select-option>
              <ion-select-option value="m">Male</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row> -->
        <div class="form-group" >
            <div class="rs-select2 js-select-simple select--no-search">
                <select name="gender" #gender style="width:250px;height:50px;">
                    <option disabled="disabled" selected="selected">Gender</option>
                    <option>Male</option>
                    <option>Female</option>
                    <option>Other</option>
                </select>
                <div class="select-dropdown"></div>
            </div>
        </div>
        <ion-button color="Default" class="next" (click)="bt(cno,name,pass,gender)" >Next</ion-button>
       
</ion-content>


<ion-footer  class="footer" >
   
    <ion-icon name="arrow-round-forward" class="icon1" ></ion-icon>
    
   
   
</ion-footer>