<ion-header style="background-color:purple;height:80px;">
  
  <ion-buttons slot="start" style="background-color:purple ">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
<ion-title style="margin-left:70px;font-size:30px;">Addtask</ion-title>

</ion-header>

<ion-content style="background-color:#D3D3D3">
<ion-content style="background-color:#D3D3D3">
<!-- <ion-row class="input1" style="background-color:white">
    {{title}}
  </ion-row> -->
  <ion-row class="input2" style="background-color:white">
      <ion-input type="text" #second></ion-input>
    </ion-row>
    <!-- <ion-row class="input3">
        <ion-input type="text" #third></ion-input>
      </ion-row> -->
      <ion-row>
          <!-- <ion-button style="background-color:purple" class="add1" (click)="task(second)">Add</ion-button> -->
          <ion-button color="Default"  (click)="task(second)" class="add1"  >Add</ion-button>
      </ion-row>
</ion-content>
</ion-content>
