.header{
       height:100px; 
      background:purple;
    text-align: left;
    color:white;
    font-family: 'Times New Roman', Times, serif;

}
input{
    font-size:20px;
    margin-top:40px;
    height:50px;
    width: 250px;
}
.button1{
    height:50px;
    width:250px;
    margin-top:15px;
    color:black;
}
.button2{
    height:50px;
    width:250px;
    margin-top:15px;
    color:black;
}
.icon1{
    float:left;
    margin-left: 80px;
    font-size: 30px;
}
.add{
    margin-left: 70px;
}
.iconn
{
    float:left;margin-top: 20px;margin-left: 10px;font-size: 30px;
}
.footer{
    height:100px; 
    background:purple;
  text-align: left;
  color:white;
  font-family: 'Times New Roman', Times, serif;
}