<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header style="background-color:purple">
          <ion-icon name="person" style="font-size:40px;margin-top:20px;margin-left:10px;"></ion-icon>
          <h5 style="margin-left:10px;">{{name}}</h5>
          <h6 style="margin-left:10px;">{{contact}}</h6>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
